@if (ViewBag.Error != null)
{
    <h2>@ViewBag.Error</h2>
}
<style type="text/css">
    .overlay, .form-panel.one:before {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        background: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
    }

    .form {
        z-index: 15;
        position: relative;
        background: linear-gradient(to right,#fffa65,#fff200);
        width: 400px;
        height: 500px;
        border-radius: 4px;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        left: 0;
        top: 95px;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
    }

    .form-group {
        display: -webkit-box;
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        justify-content: space-between;
        margin: 0 0 20px;
    }

        .form-group:last-child {
            margin: 0;
        }

        .form-group label {
            display: block;
            margin: 0 0 10px;
            color: rgba(0, 0, 0, 0.6);
            font-size: 12px;
            font-weight: 500;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: .2em;
        }

    .two .form-group label {
        color: #FFFFFF;
    }

    .form-group input {
        outline: none;
        display: block;
        background: rgba(0, 0, 0, 0.1);
        width: 100%;
        border: 0;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 12px 20px;
        color: rgba(0, 0, 0, 0.6);
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        line-height: inherit;
        -webkit-transition: 0.3s ease;
        transition: 0.3s ease;
    }

        .form-group input:focus {
            color: rgba(0, 0, 0, 0.8);
        }

    .form-group button {
        outline: none;
        background: #4285F4;
        width: 100%;
        border: 0;
        border-radius: 4px;
        padding: 12px 20px;
        color: #FFFFFF;
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        line-height: inherit;
        text-transform: uppercase;
        cursor: pointer;
    }

    .form-group .form-remember input[type='checkbox'] {
        display: inline-block;
        width: auto;
        margin: 0 10px 0 0;
    }

    .form-group .form-recovery {
        color: #4285F4;
        font-size: 12px;
        text-decoration: none;
    }

    .form-panel {
        padding: 60px calc(5% + 60px) 60px 60px;
        box-sizing: border-box;
    }

        .form-panel.one:before {
            content: '';
            display: block;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: 0.3s ease;
            transition: 0.3s ease;
        }



    .form-header {
        margin: 0 0 40px;
    }

        .form-header h1 {
            padding: 4px 0;
            color: #4285F4;
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
</style>
<div class="form">
    <div class="form-panel one">
        <div class="form-header">
            <h1>SEND OTP CODE</h1>
        </div>
        <div class="form-content">
            <form>
                <div class="form-group">
                    <label for="password">Enter User Email</label>
                    <input type="text" id="txt_toemail" name="To Mail" required="required" />
                </div>
                <div class="form-group">
                    <button type="submit" id="btn_sendotp">Send OTP</button>
                </div>
                <div class="form-group">
                    <label for="password">Enter Verification Code</label>
                    <input type="text" id="txt_verificationCode" name="Verification Code" required="required" />
                </div>                                
                <div class="form-group">
                    <button type="submit" id="btn_verifyCode">Verify Code</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        setTimeout(function () {
            $("#txt_toemail").focus();
        });
        $('#btn_sendotp').on('click', function () {
            if ($('#txt_toemail').val() == '') {
                alert("To send mail can't be Blank !");
                $('#txt_toemail').focus();
                return false;
            }
            
            var tomail = $('#txt_toemail').val();
            
            if (tomail != "") {
                $('#btn_sendotp').prop('disabled', true);
                $.ajax({
                    type: 'POST',
                    url: '/Admin/Forgot_Password',                    
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            'tomail': tomail
                        }
                    ),
                    dataType: 'json',
                    success: function (response) {
                        var succ = response.SuccessMsg;
                        var err = response.ErrorMsg;
                        if (succ != "" && err == "")
                        {
                            alert(succ);
                        }
                        else
                        {
                            alert(err);
                        }
                        //$('#txt_toemail').val("");                        
                        $('#btn_sendotp').prop('disabled', false);
                    }
                });
            }
        });
        $('#btn_verifyCode').on('click', function () {            
            if ($('#txt_verificationCode').val() == '') {
                alert("Verification code can't be Blank !");
                $('#txt_verificationCode').focus();
                return false;
            }

            var verifyCode = $('#txt_verificationCode').val();
            var tomail = $('#txt_toemail').val();
            if (verifyCode != "") {
                $('#btn_verifyCode').prop('disabled', true);
                $.ajax({
                    type: 'POST',
                    url: '/Admin/VerifyCode',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(
                        {
                            'tomail': tomail,
                            'vcode': verifyCode
                        }
                    ),
                    dataType: 'json',
                    success: function (response) {

                        var succ = response.SuccessMsg;
                        var err = response.ErrorMsg;
                        if (succ != "" && err == "") {
                            alert(succ);
                        }
                        else {
                            alert(err);
                        }
                        $('#txt_toemail').val("");
                        $('#txt_verificationCode').val("");
                        $('#btn_verifyCode').prop('disabled', false);
                    }
                });
            }
        });

    });

</script>